+++
title = "Opsteady"
linkTitle = "Opsteady"

+++

{{< blocks/cover title="Welcome to Opsteady: A reference implementation of a container platform for developers and more" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/opsteady/opsteady">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Much more than Kubernetes</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Opsteady is an opinionated reference implementation, based on years of platform building experience, for a container-based platform that provides an exceptional developer experience.

Next to developers, it also caters to the needs of other organizational roles that are closely involved in the software development lifecycle like security officers, testers, site reliability engineers, etc.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-compress-arrows-alt" title="Simplification" %}}
* Simplify the creation and maintenance of container-based platforms
* Automate the lifecycle management to lower the maintenance burden
* Stay in control by implementing a solid operations process
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-laptop-code" title="Developers" %}}
* Help and guide developers on their path to production
* Empower developers to own the full lifecycle of their applications
* Embed SRE and DevOps best practices in the software delivery lifecycle
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-users" title="Organization" %}}
Cater to the needs of all organizational roles that are closely involved in the software development process
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Opsteady features</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fa-cogs" title="Delivery process" %}}
* Initial bootstrap of Management environment
* Automated pipeline for managing Management environment
* Unified process in how to build, release, deploy and destroy a component on the platform
* Automated pipeline for creating a platform in Azure or AWS cloud
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-layer-group" title="Capabilities" %}}
* Basics like: DNS, Certificates, Load-balancing, Ingress
* Portal (for all roles)
* Self-service everything
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-docker" title="Kubernetes"%}}
* AWS EBS and EFS as volumes
* Azure Disk and Files as volumes
* AWS load-balancing
* Azure load-balancing
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Focus on your business with Opsteady!</h1>
</div>

{{< /blocks/section >}}
